{% load static %}

<div class="card">
    <h3 class="bold">Assignments</h3>

    <div class="container">
        <div class="row table bold">
            <div class="col-lg-3"><p>Due Date</p></div>
            <div class="col-lg-5"><p>Name</p></div>
            <div class="col-lg-4"><p>Class</p></div>
        </div>
        <div class="row table">
            <div class="col-lg-4"><p>5/5/2020</p></div>
            <div class="col-lg-4"><p>Quiz 6</p></div>
            <div class="col-lg-4"><p>Ap Lit</p></div>
        </div>
    </div>

    <a href="#" class="bottom right small">View all assignments</a>
</div>