{% load static %}

<div class="card">
    <h3 class="bold">Contact Information</h3>

    <div class="container">
        <div class="row">
            <p>Home Address</p>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <p>One Microsoft Way<br>Redmond, WA 98052-6399</p>
            </div>
        </div>
        <div class="row">
            <p>Telephone Number</p>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <p>(555) 123 - 4563</p>
            </div>
        </div>
        <div class="row">
            <p>Primary Email</p>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <p>johndoe@email.com</p>
            </div>
        </div>
    </div>
</div>