{% load static %}

<div class="card">
    <h3 class="bold">Individual Education Plan (IEP)</h3>

    <div class="container">
        <div class="row grey">
            <div class="col-lg-12 bold"><p>Targets to be Achieved</p></div>
        </div>
        <div class="row">
            <div class="col-lg-1"><p></p></div>
            <div class="col-lg-10"><p>Something</p></div>
        </div>
        <div class="row">
            <div class="col-lg-1"><p></p></div>
            <div class="col-lg-10"><p>Something</p></div>
        </div>
    </div>

    <div class="container">
        <div class="row grey">
            <div class="col-lg-12 bold"><p>Possible Resources</p></div>
        </div>
        <div class="row">
            <div class="col-lg-1"><p></p></div>
            <div class="col-lg-10"><p>Something</p></div>
        </div>
        <div class="row">
            <div class="col-lg-1"><p></p></div>
            <div class="col-lg-10"><p>Something</p></div>
        </div>
    </div>

    <div class="container">
        <div class="row grey">
            <div class="col-lg-12 bold"><p>Student Needs To</p></div>
        </div>
        <div class="row">
            <div class="col-lg-1"><p></p></div>
            <div class="col-lg-10"><p>Something</p></div>
        </div>
        <div class="row">
            <div class="col-lg-1"><p></p></div>
            <div class="col-lg-10"><p>Something</p></div>
        </div>
    </div>

    <a href="#" class="bottom right small">View full document</a>
</div>