<div class="container ml-0">
    <div class="title ml-0">
        <h3>Alerts</h3>
    </div>
    
    <div class="row">
        <div class="col">{% include 'components/teacher/alerts/tasks.html' %}</div>
        <div class="col">{% include 'components/teacher/alerts/directory.html' %}</div>
    </div>
    <div class="row">
        <div class="col">{% include 'components/teacher/alerts/policies.html' %}</div>
        <div class="col">{% include 'components/teacher/alerts/widget.html' %}</div>
    </div>

</div>