<div class="container ml-0">
    <div class="title ml-0">
        <h3>Recently Viewed Students</h3>
    </div>
    
    <div class="row students my-auto">
        {% for i in recent %}
            <div class="col-lg-3">
                <a href="/casemanager/{{i.pk}}">{% include 'components/image.html' %}
                      <h5 class="card-title">{{i.user.get_full_name}}</h5>
                </a>
            </div>
        {% endfor %}
    </div>

    <a href="#" class="bottom right small">View all students</a>
</div>