<div class="container ml-0">
    <div class="title ml-0">
        <h3>Recently Viewed Students</h3>
    </div>
    
    <div class="row students my-auto">
        <div class="col-lg-3">
            <img src="https://th.bing.com/th/id/OIP.k7CT4JxZg5SEemBHVXjUKgHaHa?pid=Api&rs=1" width="120px">
            <p>Jane Doe</p>
        </div>
        <div class="col-lg-3">
            <img src="https://th.bing.com/th/id/OIP.k7CT4JxZg5SEemBHVXjUKgHaHa?pid=Api&rs=1" width="120px">
            <p>Jane Doe</p>
        </div>
        <div class="col-lg-3">
            <img src="https://th.bing.com/th/id/OIP.k7CT4JxZg5SEemBHVXjUKgHaHa?pid=Api&rs=1" width="120px">
            <p>Jane Doe</p>
        </div>
        <div class="col-lg-3">
            <img src="https://th.bing.com/th/id/OIP.k7CT4JxZg5SEemBHVXjUKgHaHa?pid=Api&rs=1" width="120px">
            <p>Jane Doe</p>
        </div>
    </div>

    <a href="#" class="bottom right small">View all students</a>
</div>