{% load static %}
<div class="alerts">
    <div class="alert_box">
        <div class="alert_box_text"> 
            Alerts if applicable (ex: school closing)
        </div>
        <div class="row grey"> 
            <div class="col-lg-3"><p>School Closing</p></div>
        </div>
    </div>
</div>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        School Closing
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>