{% load static %}
<div class="card">
    <div class="row">
        <nav class="navbar">
            <span class="navbar-brand mb-0 h1">My Favorite Docs</span>
        </nav>
    </div>
    <br>
    <div class="row">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Hit Refresh</li>
                <li class="list-group-item">Cracking the Coding Interview</li>
                <li class="list-group-item">Top Secret Lesson Plan</li>
              </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="text-right">
        <button type="button" class="btn btn-secondary">See More</button>
    </div>
</div>


