{% load static %}
<div class="container">
    <div class="row">
        <nav class="navbar">
            <span class="navbar-brand mb-0 h1">My Favorite Docs</span>
        </nav>
    </div>
    <br>
    <div class="row">
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Procedures&Regulations.docx</li>
                <li class="list-group-item">Mid-Year_CheckIn_Roster</li>
                <li class="list-group-item">Progress_Tracking.xslx</li>
              </ul>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="text-right">
        <button type="button" class="btn btn-secondary">See More</button>
    </div>
</div>


