{% load static %}
    <div class=recently_viewed_students>
        <div class=recently_viewed_student_box>
            <div class="recently_viewed_student_text">
                <div class="header2">Recently Viewed Students</div>
                <div class="column"></div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 8rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Jane Doe</h5>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 8rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Jane Doe</h5>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 8rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Jane Doe</h5>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 8rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Jane Doe</h5>
                    </div>
                  </div>
            </div>
        </div>
    </div>
