{% load static %}
    <div class="container" >
        <div class="row">
            <nav class="navbar">
                <span class="navbar-brand mb-0 h1">Recently Viewed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/roster">Full Roster</a></span>
            </nav>
        </div>
        <div class="row">
            {% for i in recent %}
            <div class="col-sm-3">
                <div class="card" style="width: 8rem;">
                    <img src="https://www.thispersondoesnotexist.com/image" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{i.user.get_full_name}}</h5>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
