{% load static %}
<div class="card">
    <div class="row">
        <nav class="navbar">
            <span class="navbar-brand mb-0 h1">Widgets</span>
        </nav>
    </div>
    <div class="row">
        <div class="col">
            Tasks Pending
            <div class="card" style="width: 8em;">
                <img src="https://cdn2.iconfinder.com/data/icons/education-33/49/23-256.png" class="card-img-top" alt="...">
            </div>
              
        </div>
        <div class="col">
            Employee Directory
            <div class="card" style="width: 8em;">
                <img src="https://media.istockphoto.com/vectors/address-book-flat-icon-vector-id502128148?k=6&m=502128148&s=612x612&w=0&h=1mc77UNtklqUbLw8M_5lnlqnhHQCgy6VMFvasRYnV80=" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            Policies & Procedures 
            <div class="card" style="width: 8em;">
                <a href="https://www2.ed.gov/policy/gen/reg/ferpa/index.html">
                    <img src="https://img.icons8.com/ios/100/000000/policy-document.png"/>
                </a>
            </div>
        </div>
    </div>
</div>