{% load static %}

{% block content %}

{% for i in user.casemanager.students.all %}
    {% include 'components/sidebar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">{% include 'components/iep.html' %}</div>
            <div class="col-lg-8"></div>
        </div>
        <div class="row">
            <div class="col-lg-8">{% include 'components/messages.html' %}</div>
            <div class="col-lg-4">{% include 'components/discipline.html' %}</div>
        </div>
        <div class="row">
            <div class="col-lg-4">{% include 'components/contact.html' %}</div>
            <div class="col-lg-8">{% include 'components/notes.html' %}</div>
        </div>
    </div> <br> <br>
    
{% endfor %}

{% endblock %}