Hello {{user}}!<br>
{% if not user.is_anonymous %}
    {% if user.teacher %}
        Your Students:
        <ul>
            {% for i in user.teacher.students.all %}
            <li>{{i.user}}</li>
            Assignments:
            <ul>
                {% for i in i.assignments.all %}
                    <li>{{i.due_date}}</li>
                    <li>{{i.course}}</li>
                {% endfor %}
            </ul><br>
            {% endfor %}
        </ul>
    {% elif user.student %}
        Your Assignments:
        {% for i in user.student.assignments.all %}
            <li>{{i.due_date}}</li>
            <li>{{i.course}}</li>
        {% endfor %}
    {% else %}
        Login in on /admin
    {% endif %}
{% endif %}