<!DOCTYPE html> 
<html> 
    <head>
        <link rel="stylesheet" type="text/css" href="landing_page.css" media="screen" />
        <title>
            SpED Portal Landing
        </title>
    </head>
    <body>
        <div class=left_side>
            <div class=recently_viewed_students>
                <div class=recently_viewed_student_box>
                    <div class="recently_viewed_student_text">
                        <div class="header2">Recently Viewed Students</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=right_side>
            <div class=quick_access_section>
                <div class=quick_access_box>
                    <div class=quick_access_text>
                        <div class="header2">Quick Access Tools</div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>