<nav class="navbar navbar-expand-md bg-dark navbar-dark w-100">
    <a class="navbar-brand" href="/">SpEd Case Management</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto d-flex align-items-md-center">
        <li class="nav-item mr-5">
          <input type="text" placeholder="Search Students">
          
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#">Notification</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item mr-4">
          <a href="#">
              <img class="rounded-circle" src="http://media.culturemap.com/crop/3c/bd/300x300/Bill-Gates-head-shot-horizontal_094856_jcrop_1x1_Wed25Sep2013101109.png" width=36/>
          </a>
        </li>
      </ul>
    </div>
  </nav>