{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for i in user.teacher.cases.all %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">{% include 'components/teacher/recent.html' %}</div>
                <div class="row">{% include 'components/teacher/alerts.html' %}</div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <div class="row">{% include 'components/teacher/tools.html' %}</div>
                <div class="row">{% include 'components/teacher/favorites.html' %}</div>
                <div class="row">{% include 'components/teacher/events.html' %}</div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}