<h4>Your Students:</h4>
<ul>
    {% for i in user.teacher.students.all %}
    <li>{{i.user}}</li>
    Assignments:
    <ul>
        {% for i in i.assignments.all %}
            <li>{{i.due_date}} - {{i.course}} -- {{i.teacher}}
        {% endfor %}
    </ul><br>
    <form method="post">
        {% csrf_token %}
        <input name="id" value ="{{i.user}}" type="hidden">
        <div class="form-group">
        <label for="assignment">Add an Assignment</label>
        <input class="form-control" id="assignment" name="assignment" required>
        </div>
        <div class="form-group">
        <label for="duedate">Due Date (default 1 day)</label>
        <input class="form-control" id="duedate" type="datetime-local" name="duedate">
        </div>
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    {% endfor %}
</ul>