{% load static %}

<div class="card">
    <div class="row">
        <div class="col-lg-9"><h3 class="bold">Notes</h3></div>
        <a href="#" class="col-lg-3 bottom right">+</a>
    </div>
    <p>
        Here are some notes on the student.
    </p>
    <p>
        They have demonstrated the following quaulties:
    </p>
    <ul>
        <li><p>Good at hacking</p></li>
        <li><p>Kind to others</p></li>
        <li><p>Bright and passionate</p></li>
    </ul>
    <a href="#" class="small bottom right">View all notes</a>
    

    
</div>