{% load static %}
<style>
        /* Recently Viewed Students */
    .recently_viewed_students{
    position: absolute;
    width: 691px;
    height: 286px;
    left: 81px;
    top: 112px;
    }
    #recently_viewed_student_box {
            position: absolute;
            width: 691px;
            height: 34px;
            background: #C4C4C4;
        }
        
         /* Recently Viewed Students Text*/
         #recently_viewed_student_text { 
        position: absolute;
        width: 289px;
        height: 31px;
        left: 106px;
        top: 119px;
    }

</style>
    <div class="container" >
        <div class="row" >
            <nav class="title">
                <span class="navbar-brand mb-0 h1">Recently Viewed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/roster">Full Roster</a></span>
            </nav>
        </div>
        <div class="row">
            {% for i in recent %}
            <div class="col-sm-3">
                <div style="width: 9rem;">
                    <img src="https://www.thispersondoesnotexist.com/image" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{% if i.user.get_full_name %}
                        <p>{{i.user.get_full_name}}</p>
                        {% else %}
                        <p>Jane Doe</p>
                        {% endif %}</h5>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
        <div class="row bottom right small"><a href="#">View class roster</a></div>
    </div>
